body {
	margin-top: 112px;
}

._container {
	max-width: 1120px;
	padding: 0 16px;
}

.header {
	position: fixed;
	height: 88px;
	width: 100vw;
	top: 0;
	left: 0;
}

.header__inner {
	/*display: flex;
	align-items: center;
	justify-content: space-between;*/
	display: grid;
	grid-template-columns: 40px 97px 2px 40px 40px;
	align-items: center;

	height: 88px;
	padding: 10px 0;
}

.menu {}

.menu__icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FF3E79;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__icon-lines {
	width: 18px;
	height: 16px;
	position: relative;
}

.menu__icon-lines span,
.menu__icon-lines::after,
.menu__icon-lines::before {
	position: absolute;
	left: 0;
	height: 2px;
	transition: all .3s ease 0s;
	background-color: #fff;
}

.menu__icon-lines::after,
.menu__icon-lines::before {
	content: '';
}

.menu__icon-lines::after {
	bottom: 0;
	width: 14px;
}

.menu__icon-lines::before {
	top: 0;
	width: 100%;
}

.menu__icon-lines span {
	width: 10px;
	top: 50%;
	transform: scale(1) translate(0, -50%);
}

.menu__body {}

.menu__list {}

.menu__link {}

.header__logo-link {
	order: 2;
}

.header__logo-img {}

.header__profile {
	display: none;
}

.profile {}

.profile__action-link {}

.profile__action-icon {}

.header__repair-status {
	order: 5;
}

.header__inner::before {
	content: '';
	width: 2px;
	height: 32px;
	background-color: #EAEAEA;
	order: 1;
}

.header__inner::after {
	content: '';
	width: 2px;
	height: 32px;
	background-color: #EAEAEA;
	order: 4;
}

.header__repair-status span {
	display: none;
}

.header__repair-status-link {}